<mat-nav-list color="teal">
    <div class="profile-card">
        <div class="header">
           
           
        </div>
        <img src="https://firebasestorage.googleapis.com/v0/b/sportsmadness247-22f4e.appspot.com/o/sitedata%2Ftracker.png?alt=media&token=3bbc6e23-1bdb-4b04-9e66-3071b859421c" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 class="cus" matSubheader>Pages</h2>

    <a class="cus" mat-list-item routerLinkActive="list-item-active" routerLink="/">Project Board</a>
    <a class="cus" mat-list-item routerLinkActive="list-item-active" routerLink="post">Create Issue</a>
    <a  class="cus"mat-list-item routerLinkActive="list-item-active" routerLink="/project">Create Project</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>