<div class="container content p-4">
    <h1>Create User  Stories / Tasks/Bugs</h1>
   <div class="container p-3">
    <form class="row" name="myForm">
        <div class="col-12">
            <label for="inputAddress" class="form-label">Summary</label>
            <input type="text" class="form-control" name="myInput" ng-model="myInput" required placeholder="summary">
          </div>
        <div class="col-md-6 my-2">
          <label for="inputEmail4" class="form-label">Type</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>

        </div>
        <div class="col-md-6 my-2">
            <label for="inputEmail4" class="form-label">Project</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
        </div>
        
        <div class="col-md-6 my-2">
            <label for="inputEmail4" class="form-label">Priority</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
  
          </div>
          <div class="col-md-6 my-2">
              <label for="inputEmail4" class="form-label">Asignee</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          </div>
          <div class="col-md-6 my-2">
            <label for="inputEmail4" class="form-label">Tags</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
  
          </div>
          <div class="col-md-6 my-2">
              <label for="inputEmail4" class="form-label">Sprint</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          </div>
          <div class="col-md-6 my-2">
            <label for="inputEmail4" class="form-label">Story Point</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="0,1,2s">
        </div>
       
        <div class="col-12 d-flex justify-content-center gap-2 mt-3">
          <button type="submit" class="btn btn-dark">Create</button>
          <button type="submit" class="btn btn-outline-danger">Reset</button>
        </div>
      </form>
   </div>
</div>