<div class="container content p-4">
    <h1>Create Project</h1>
   <div class="container p-3">
    <form class="row">
        <div class="col-md-6 my-2">
            <label for="inputAddress" class="form-label">Project Name</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="project name">
          </div>
        <div class="col-md-6 my-2">
          <label for="inputEmail4" class="form-label">Owner</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>

        </div>
        <div class="col-md-6 my-2">
            <label for="inputEmail4" class="form-label">Project Sart Date</label>
            <input type="date" class="form-control" id="inputAddress" placeholder="project name">
        </div>
        
        <div class="col-md-6 my-2">
            <label for="inputEmail4" class="form-label">Project End Date</label>
            <input type="date" class="form-control" id="inputAddress" placeholder="project name">
  
          </div>
          <div class="col-12 d-flex justify-content-center gap-2 mt-3">
            <button type="submit" class="btn btn-dark">Create</button>
            <button type="submit" class="btn btn-outline-danger">Reset</button>
          </div>
          </form><div>